/* You can add global styles to this file, and also import other style files */
body {
    background: #DD0031;
    color: white;
    padding: 20px;
  }
  
  * {
    font-family: 'Lato', helvetica, sans-serif;
  }
  